@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "League Spartan", sans-serif;
}

h1{
    font-size: 4rem;
    text-align: center;
    font-family: "Righteous", sans-serif;
}

h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
h3 {
    font-weight: bold;
    font-size: 3rem;
    font-family: "Righteous", sans-serif;
   
}

p{
    font-size: 1.50rem;
    margin-bottom: .50rem;
    text-shadow: 1px 1px 1px black;
}
.details {
 padding: 1rem;
}

.price {
    color:black;
    margin-top: .50rem;
}

.product{
    font-size: 1.25rem;
    font-weight: bold;
    color: #E81517;
    margin: .50rem 0;
}
li {
    font-size: 1rem;
    font-weight: bold;
}



.banner{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-image: url(animatedlogo.gif);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: aqua;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 1px 1px 1px black;
}


.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.icons-container {
    display: flex;
    gap: 1rem;
}

.icons-container a{
   color: aqua;
   font-size: 3rem;
}

.hashtag {
    color:#E81517 ;
    font-weight: bold;
    font-size: 2rem;
}


.services {
    width: 100%;
   
  
  
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.intro {
    text-align: center;
    padding: 0 1rem;
}

.services-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
   
}

.service {
    width: 350px;
    background-color: aqua;
    padding: 1rem;
    box-shadow: 3px 3px 3px black;
}

@media (max-width:780px) {
    .services-wrapper {
        width: 100%;
    
       
    }
    
    .service {
        width: 99%;
      
    }
}
 

 @media (max-width:500px) {

    
    h2{
        font-size: 2rem;
       
    }
    h3 {
       
        font-size: 2rem;
      
    }
    
    p{
        font-size: 1.25rem;
      
    }
    
 
    .banner{
        width: 100%;
        padding: 2rem;

    }
    .services {
        width: 100%;
      
      
        padding: 5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
 }
  footer {
    width: 100%;
    background-color: #7E11F3;
    padding: 5rem 1rem;
   
    color:white;
    text-shadow: 2px 2px 2px rgb(10, 10, 10);
  }

  footer a{
   color:#E81517;
   font-weight: bold;
   text-decoration: underline;
  }
